.vscode/
.venv/
.pytest_cache/
.ruff_cache/
.codex-build/
output/
__pycache__/
.ruff_cache/
.DS_Store
CLAUDE.md
deeplens.egg-info/
0_test.py
*.png
*.sh
results/
deeplens/do_code/
!lenses/*.png
!lenses/**/*.png
!images/*.png
!assets/*.png
debug.py
*.log
temp/*
logs/
dist/
datasets/lenses/private/
.claude/
deeplens_core.egg-info/
agent/

lenses/pancake/
datasets/BSDS300/
*.out

# Docs moved to separate repo
docs/
site/

# add my own files
test/test_outputs
visualization/
research/
